$TTL 1D
@       IN SOA  slave-1.stone.com. root.slave-1.stone.com. (
                                        0       ; serial
                                        1D      ; refresh
                                        1H      ; retry
                                        1W      ; expire
                                        3H )    ; minimum
        IN NS   slave-1.stone.com.   
slave-1 IN A    10.10.45.14  
        
